#!/bin/bash

########## Home ##########
dnapipe_dir=""

####### Environment ######
dnapipe_env_py2="" 
# includes: strelka, manta, lumpy, svtyper
dnapipe_env_py3=""
# includes: bwa, samtools, sambamba, delly, cnvkit, vep, annotsv, variantconvert, knotAnnotSV, bedtools, bcftools, R

######### Tools ##########
DEEPVARIANT=""
GATK=""
KNOTANNOTSV=""
DELLY_plot_dir=""
config_knot=""

########## Reference ##########
ref=""

########## Downloaded Resource ##########
download_dir=""
dir_vep_annot=""
annotsv_dir=""

# gatk associated
germline_resource="$download_dir/db/af-only-gnomad.hg38.vcf.gz"
pon_resource="$download_dir/db/1000g_pon.hg38.vcf.gz"
common_biallelic="$download_dir/db/small_exac_common_3.hg38.vcf.gz"
hapmap="$download_dir/db/hapmap_3.3.hg38.vcf.gz"
omni="$download_dir/db/1000G_omni2.5.hg38.vcf.gz"
g1000="$download_dir/db/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
dbsnp="$download_dir/db/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
mills="$download_dir/db/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"

# delly associated
excl_region="$download_dir/db/human.hg38.excl.tsv"
map="$download_dir/db/Homo_sapiens.GRCh38.dna.primary_assembly.fa.r101.s501.blacklist.gz"

# cnvkit
cnvkit_annotate="$download_dir/db/refFlat_hg38.txt"

# vep associated
dir_cache="$dir_vep_annot/Cache"
dir_plugins="$dir_vep_annot"
clinvar_file="$dir_vep_annot/files/clinvar.vcf.gz"
cadd_indel_file="$dir_vep_annot/files/gnomad.genomes.r4.0.indel.tsv.gz"
